<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/addAnimal}" th:object="${animal}" method="post">
    <div class="form-group">
        <label for="name">Nume</label>
        <input type="text" class="form-control" th:field="*{name}" id="name">
    </div>
    <div class="form-group">
        <label for="dateOfBirth">Data nașterii</label>
        <input type="date" class="form-control" th:field="*{dateOfBirth}" id="dateOfBirth">
    </div>
    <div class="form-group">
        <label for="sex">Sex</label>
        <select type="text" class="form-control" th:field="*{sexId}" id="sex">
        </select>
    </div>
    <div class="form-group">
        <label>Specia</label>
        <select class="form-control" th:field="*{speciesId}">
            <option th:each="species : ${allSpecies}"
                    th:value="${species.id}"
                    th:text="${species.name}">
        </select>
    </div>
    <div class="form-group">
        <label for="breed">Rasa</label>
        <select type="text" class="form-control" th:field="*{breedId}" id="breed">
        </select>
    </div>
    <div class="form-group">
        <label for="microchip">Microcip</label>
        <input type="text" class="form-control" th:field="*{microchip}" id="microchip">
    </div>
    <div>
        <input type="submit" value="Adaugă animal">
    </div>
</form>
</body>
</html>