<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <div th:replace="fragments/header"></div>
        <title>Adaugă animal</title>
    </head>
    <body>
        <div th:replace="fragments/navigation"></div>
        <div>
            <form id="addAnimalForm" th:action="@{/addAnimal}" th:object="${animal}" method="post">
                <label for="name">Nume</label>
                <input type="text" class="form-control" th:field="*{name}" id="name">
                <label for="microchipText">Microcip</label>
                <input type="text" class="form-control" th:field="*{microchip}" id="microchipText">
                <label for="speciesSelect">Specia</label>
                <select id="speciesSelect" class="form-control selectpicker" th:onchange="updateBreedSelect()" th:field="*{species}">
                    <option disabled value="">Nothing selected</option>
                    <option th:each="species : ${allSpecies}"
                            th:value="${species.id}"
                            th:text="${species.name}"></option>
                </select>
                <label for="breedSelect">Rasa</label>
                <select id="breedSelect" class="form-control" th:field="*{breed}"></select>
                <label for="dateOfBirth">Data nașterii</label>
                <input type="date" class="form-control" th:field="*{dateOfBirth}" id="dateOfBirth" format="yyyy-MM-dd">
                <label for="sexSelect">Sex</label>
                <select id="sexSelect" class="form-control" th:field="*{sex}" >
                    <option th:each="sex : ${T(com.petid.petid.model.Sex).values()}"
                            th:value="${sex}"
                            th:text="${sex}">
                </select>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{neutered}" id="neuteredCheckBox"/>
                    <label class="form-check-label" for="neuteredCheckBox">Sterilizat(ă)</label>
                </div>
                <label for="colorText">Culoare</label>
                <input type="text" class="form-control" th:field="*{color}" id="colorText">
                <label for="distinctiveMarksText">Semne distinctive</label>
                <input type="text" class="form-control" th:field="*{distinctiveMarks}" id="distinctiveMarksText">
                <button type="submit" class="btn btn-primary">Salvează</button>
            </form>
        </div>
    </body>
</html>