<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <div th:replace="fragments/header :: header"></div>

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" th:src="@{/js/animalsTable.js}"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <title>Animale</title>
  </head>
  <body>
    <div th:replace="fragments/navigation :: navigation"></div>
    <div class="container">
      <div class="row">
        <h3><i class="fa fa-paw"></i>Animale</h3>
      </div>
      <div class="row">
        <div class="col-md-1 no-float">
        </div>
        <div class="col-md-4">
          <input id="searchAnimals" class="form-control" type="text" placeholder="Caută.." style="margin-top: 20px;" th:onkeyup="searchTable()">
        </div>
        <div class="col-md-4 no-float"></div>
        <div class="col-md-2">
          <a class="btn btn-primary" th:href="@{/add-animal/owner-information}"><i class="fa fa-plus-circle"></i>Adaugă un animal</a>
        </div>
        <div class="col-md-1 no-float"></div>
      </div>
      <div class="row">
        <div class="col-md-1 no-float"></div>
        <div class="col-md-10">
          <div style="overflow-x:auto">
            <table id="animalsTable" class="table table-hover">
              <thead>
              <tr>
                <th class="text-center" scope="col">Nume</th>
                <th class="text-center" scope="col">Specie</th>
                <th class="text-center" scope="col">Rasă</th>
                <th class="text-center" scope="col">Vârstă</th>
                <th class="text-center" scope="col">Microcip</th>
                <th class="text-center" scope="col">Proprietar</th>
                <th class="text-center" scope="col">Acțiuni</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="animal : ${animals}">
                <td class="text-center" th:text="${animal.name}"></td>
                <td class="text-center" th:text="${animal.species.name}"></td>
                <td class="text-center" th:text="${animal.breed.name}"></td>
                <td class="text-center" th:text="${animal.age}"></td>
                <td class="text-center" th:text="${animal.microchip}"></td>
                <td class="text-center" th:text="${animal.owner.lastName + ' ' + animal.owner.firstName}"></td>
                <td>
                  <span style="overflow: visible;">
                    <div class="dropdown position-static actions d-inline-block">
                       <a href="#" class="threeBars" data-toggle="dropdown">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                       </a>
                      <div class="dropdown-menu" x-placement="bottom-end" style="position: absolute">
                        <li><a class="dropdown-item" th:href="@{/animal/{microchip}(microchip=${animal.microchip})}">Deschide fișa</a></li>
                        <li><a class="dropdown-item" href="#">Editează animalul</a></li>
                        <li><a class="dropdown-item" href="#">Editează proprietarul</a></li>
                      </div>
                    </div>
                  </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-1 no-float"></div>
      </div>
    </div>
  </body>
</html>