<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <div th:replace="fragments/header"></div>
        <script type="text/javascript" th:src="@{/js/breed.js}"></script>

        <title>Adaugă animal</title>
    </head>
    <body>
        <div th:replace="fragments/navigation :: navigation"></div>
        <div class="container">
            <div class="row">
                <h3>Informații despre animal</h3>
            </div>
            <div class="row">
                <div class="col-md-4 no-float"></div>
                <div class="col-md-4">
                    <form id="addAnimalForm" method="post">
                        <input type="hidden"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}" />
                        <label for="ownerFullName">Proprietar</label>
                        <input type="text" class="form-control" name="ownerFullName" id="ownerFullName" th:value="${ownerFullName}" disabled>
                        <label for="name">Nume</label>
                        <input type="text" class="form-control" name="name" id="name">
                        <label for="microchipText">Microcip</label>
                        <input type="text" class="form-control" name="microchip" id="microchipText">
                        <label for="speciesSelect">Specia</label>
                        <select id="speciesSelect" class="form-control selectpicker" th:onchange="updateBreedSelect()" name="species">
                            <option disabled value="">Nothing selected</option>
                            <option th:each="species : ${allSpecies}"
                                    th:value="${species.id}"
                                    th:text="${species.name}"></option>
                        </select>
                        <label for="breedSelect">Rasa</label>
                        <select id="breedSelect" class="form-control" th:name="breed"></select>
                        <label for="dateOfBirth">Data nașterii</label>
                        <input type="date" class="form-control" name="dateOfBirth" id="dateOfBirth" format="yyyy-MM-dd">
                        <label for="sexSelect">Sex</label>
                        <select id="sexSelect" class="form-control" name="sex" >
                            <option th:each="sex : ${T(com.petid.petid.model.Sex).values()}"
                                    th:value="${sex}"
                                    th:text="${sex}">
                        </select>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="neutered" id="neuteredCheckBox"/>
                            <label class="form-check-label" for="neuteredCheckBox">Sterilizat(ă)</label>
                        </div>
                        <label for="colorText">Culoare</label>
                        <input type="text" class="form-control" name="color" id="colorText">
                        <label for="distinctiveMarksText">Semne distinctive</label>
                        <input type="text" class="form-control" name="distinctiveMarks" id="distinctiveMarksText">
                        <button type="submit" class="btn btn-primary">Salvează</button>
                    </form>
                </div>
                <div class="col-md-4 no-float"></div>
            </div>
        </div>
    </body>
</html>