<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header"></div>
    <script type="text/javascript" th:src="@{/js/owner.js}"></script>

    <title>Adaugă animal</title>
</head>
<body>
    <div th:replace="fragments/navigation :: navigation"></div>
    <div class="container">
        <div class="row">
            <h3>Informații despre proprietar</h3>
        </div>
        <div class="row">
            <div class="col-md-4 no-float"></div>
            <div class="col-md-4">
                <form id="ownerInformationForm" method="post">
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}" />
                    <input type="hidden" id="id" th:value="${owner?.id}">
                    <div class="form-group">
                        <label for="socialSecurityNumber">C.N.P.</label>
                        <input type="text" class="form-control" name="socialSecurityNumber" id="socialSecurityNumber" th:onkeyup="ownerBySocialSecurityNumber()">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Nume</label>
                        <input type="text" class="form-control" name="lastName" id="lastName">
                    </div>
                    <div class="form-group">
                        <label for="firstName">Prenume</label>
                        <input type="text" class="form-control" name="firstName" id="firstName">
                    </div>
                    <div class="form-group">
                        <label for="address">Adresă</label>
                        <input type="text" class="form-control" name="address" id="address">
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefon</label>
                        <input type="text" class="form-control" name="phone" id="phone">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" id="email">
                    </div>
                    <button type="submit" class="btn btn-primary">Continuă</button>
                </form>
            </div>
            <div class="col-md-4 no-float"></div>
        </div>
    </div>
</body>
</html>