	body {
		background: #eeeeee;
		font-family: 'Poppins';
	}

    .btn-primary{
        background-color: #0374ba;
    }

    .container {
        background-color: #fff;
        width: auto;
        margin-right: 20px;
        margin-left: 20px;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    form .btn-primary{
        margin-top: 30px;
        float: right;
    }

    form label{
        margin-top: 10px;
    }

    h3{
        text-align: center;
    }

	/* Navigation top bar style */

    .navbar{
        font-size: 16px;
        font-weight: 300;
        min-height: 70px;
        background: #fff;
    }

	.navbar-nav li a{
	    cursor: pointer;
	    line-height: 35px;
	}

