
    .threeBars {
        width: 30px;
        display: block;
        margin: auto;
    }

    .threeBars div{
        height: 3px;
        background-color: #0374ba;
        margin: 3px 0;
        border-radius: 25px;
        transition: 0.3s;
    }

    .one {
        width: 30px;
    }
    .two {
        width: 20px;
    }
    .three {
        width: 25px;
    }
    .threeBars:hover div {
        width: 30px;