<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header"></div>

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" th:src="@{/js/animalRecordsTable.js}"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" th:href="@{/css/table.css}">

    <title th:text="${animal.name}">Title</title>
</head>
<body>
    <div th:replace="fragments/navigation :: navigation"></div>
    <div class="container">
        <div class="profile">
            <div class="row">
                <div class="col-sm-4">
                    <div class="profile-picture">
                        <img th:src="${animal.photo}" alt="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <input type="hidden" th:field="${animal.id}">
                    <div class="profile-group">
                        <span class="profile-group-label">
                            Nume:
                            <span class="profile-group-value" th:text="${animal.name}"></span>
                        </span>
                    </div>
                    <div class="profile-group">
                        <span class="profile-group-label">
                            Microcip:
                            <span class="profile-group-value" th:text="${animal.microchip}"></span>
                        </span>
                    </div>
                    <div class="profile-group">
                        <span class="profile-group-label">
                            Specie:
                            <span class="profile-group-value" th:text="${animal.species.name}"></span>
                        </span>
                    </div>
                    <div class="profile-group">
                        <span class="profile-group-label">
                            Rasă:
                            <span class="profile-group-value" th:text="${animal.breed.name}"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="profile-group">
                        <span class="profile-group-label">
                        Sex:
                        <span class="profile-group-value" th:text="${animal.neutered}? ${animal.sex} + ' (sterilizat)' : ${animal.sex} + ' (nesterilizat)' ">
                        </span>
                    </span>
                    </div>
                    <div class="profile-group">
                        <span class="profile-group-label">
                        Data nașterii:
                        <span class="profile-group-value" th:text="${animal.dateOfBirth}"></span>
                    </span>
                    </div >
                    <div class="profile-group">
                        <span class="profile-group-label">
                            Vârstă:
                            <span class="profile-group-value" th:text="${animal.age}"></span>
                        </span>
                    </div>
                    <div class="profile-group">
                        <span class="profile-group-label">
                            Proprietar:
                            <span class="profile-group-value" th:text="${animal.owner.lastName} + ' ' + ${animal.owner.firstName}"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="record">
            <div class="row">
                <div class="col-md-1 no-float">
                </div>
                <div class="col-md-4">
                    <input id="searchRecords" class="form-control" type="text" placeholder="Caută.." style="margin-top: 20px;" th:onkeyup="searchTable()">
                </div>
                <div class="col-md-4 no-float"></div>
                <div class="col-md-2">
                    <a class="btn btn-primary" th:href="@{/add-record/record-information/{animalId}(animalId=${animal.id})}"><i class="fa fa-plus-circle"></i>Adaugă un eveniment</a>
                </div>
                <div class="col-md-1 no-float"></div>
            </div>
            <div class="row">
                <div class="col-md-1 no-float"></div>
                <div class="col-md-10">
                    <div style="overflow-x:auto">
                        <table id="animalRecordsTable" class="table table-hover">
                            <thead>
                            <tr>
                                <th class="text-center" scope="col">Data</th>
                                <th class="text-center" scope="col">Eveniment</th>
                                <th class="text-center" scope="col">Acțiuni</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="record : ${records}">
                                <td class="text-center" th:text="${record.date}"></td>
                                <td class="text-center" th:text="${record.text}"></td>
                                <td>
                                    <span style="overflow: visible;">
                                        <div class="dropdown position-static actions d-inline-block">
                                            <a href="#" class="threeBars" data-toggle="dropdown">
                                                <div class="one"></div>
                                                <div class="two"></div>
                                                <div class="three"></div>
                                            </a>
                                            <div class="dropdown-menu" x-placement="bottom-end" style="position: absolute">
                                                <li><a class="dropdown-item" th:href="@{/edit-record/{id}(id=${record.id})}">Editează</a></li>
                                                <li><a class="dropdown-item" th:href="@{/delete-record/{id}(id=${record.id})}">Șterge</a></li>
                                            </div>
                                        </div>
                                     </span>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-1 no-float"></div>
            </div>
        </div>
    </div>
</body>
</html>