<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"/>

<body>
<div th:replace="fragments/navigation :: navigation"/>
<div th:switch="${animals}">
    <h2 th:case="null">Nu sunt animale în baza de date!</h2>
    <div th:case="*">
        <h2>Animals</h2>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Microchip</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="animal : ${animals}">
                <td th:text="${animal.name}"></td>
                <td th:text="${animal.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal" id="addAnimalModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Adaugă un animal nou</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="container" th:action="@{/addAnimal}" th:object="${animal}" method="post">
                        <div class="form-group row">
                            <label for="name">Nume</label>
                            <input type="text" class="form-control" th:field="*{name}" id="name">
                        </div>
                        <div class="row">
                            <label for="microchipText">Microcip</label>
                            <input type="text" class="form-control" th:field="*{microchip}" id="microchipText">
                        </div>
                        <script type="text/javascript">
                            function getSelectedSpeciesId() {
                                $("#breedSelect").empty();
                                var speciesId = $("#speciesSelect").val();
                                if(speciesId < 1){
                                    $("#breedSelect").prop("disabled", true);
                                }
                                else{
                                    $.get("/breedBySpeciesId?speciesId=" + speciesId, function(data){
                                        $("#breedSelect").prop("disabled", false);
                                        $.each(data, function(key, value){
                                            var option = "<option value = " + key + ">" + value +  "</option>";
                                            $("#breedSelect").append(option);
                                        });
                                    });
                                }
                            };
                        </script>
                        <div class="row">
                            <label for="speciesSelect">Specia</label>
                            <select id="speciesSelect" class="form-control" th:onchange="getSelectedSpeciesId()" th:field="*{speciesId}">
                                <option th:each="species : ${allSpecies}"
                                        th:value="${species.id}"
                                        th:text="${species.name}">
                            </select>
                        </div>
                        <div class="row">
                            <label for="breedSelect">Rasa</label>
                            <select id="breedSelect" class="form-control" th:field="*{breedId}" disabled></select>
                        </div>
                        <div class="row">
                            <label for="dateOfBirth">Data nașterii</label>
                            <input type="date" class="form-control" th:field="*{dateOfBirth}" id="dateOfBirth">
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label for="sexSelect">Sex</label>
                                <select id="sexSelect" class="form-control" th:field="*{sexId}" >
                                    <option th:each="sex : ${allSexes}"
                                            th:value="${sex.id}"
                                            th:text="${sex.name}">
                                </select>
                            </div>
                            <div class="col">
                                <label for="neuteredCheckBox">Sterilizat(ă)</label>
                                <input type="checkbox" class="form-check-input" th:field="*{neutered}" id="neuteredCheckBox"/>
                            </div>
                        </div>
                        <div class="row">
                            <label for="colorText">Culoare</label>
                            <input type="text" class="form-control" th:field="*{color}" id="colorText">
                        </div>
                        <div class="row">
                            <label for="distinctiveMarksText">Semne distinctive</label>
                            <input type="text" class="form-control" th:field="*{distinctiveMarks}" id="distinctiveMarksText">
                        </div>
                        <div class="row justify-content-center">
                            <button class="btn btn-primary" type="submit">Adaugă</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAnimalModal">
        Adaugă animal
    </button>
</div>
</body>
</html>