<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>PetId</title>

    <link rel="icon" href="https://img.icons8.com/dusk/50/000000/pets.png"/>
</head>

<body>
<div th:switch="${animals}">
    <h2 th:case="null">Nu sunt animale în baza de date!</h2>
    <div th:case="*">
        <h2>Animals</h2>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Microchip</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="animal : ${animals}">
                <td th:text="${animal.name}"></td>
                <td th:text="${animal.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal" id="addAnimalModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Adaugă un animal nou</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form th:action="@{/addAnimal}" th:object="${animal}" method="post">
                        <div class="form-row">
                            <div class="col">
                                <label for="name">Nume</label>
                                <input type="text" class="form-control" th:field="*{name}" id="name">
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <div class="col">
                                <label for="microchipText">Microcip</label>
                                <input type="text" class="form-control" th:field="*{microchip}" id="microchipText">
                            </div>
                        </div>
                        <script type="text/javascript">
                            function getSelectedSpeciesId() {
                                $("#breedSelect").empty();
                                var speciesId = $("#speciesSelect").val();
                                if(speciesId < 1){
                                    $("#breedSelect").prop("disabled", true);
                                }
                                else{
                                    $.get("/breedBySpeciesId?speciesId=" + speciesId, function(data){
                                        $("#breedSelect").prop("disabled", false);
                                        $.each(data, function(key, value){
                                            var option = "<option value = " + key + ">" + value +  "</option>";
                                            $("#breedSelect").append(option);
                                        });
                                    });
                                }
                            };
                        </script>
                        <div class="form-row mt-2">
                            <div class="col">
                                <label for="speciesSelect">Specia</label>
                                <select id="speciesSelect" class="form-control" th:onchange="getSelectedSpeciesId()" th:field="*{speciesId}">
                                    <option th:each="species : ${allSpecies}"
                                            th:value="${species.id}"
                                            th:text="${species.name}">
                                </select>
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <div class="col">
                                <label for="breedSelect">Rasa</label>
                                <select id="breedSelect" class="form-control" th:field="*{breedId}" disabled></select>
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <div class="col">
                                <label for="dateOfBirth">Data nașterii</label>
                                <input type="date" class="form-control" th:field="*{dateOfBirth}" id="dateOfBirth" format="dd/mm/yyyy">
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <div class="col">
                                <label for="sexSelect">Sex</label>
                                <select id="sexSelect" class="form-control" th:field="*{sexId}" >
                                    <option th:each="sex : ${allSexes}"
                                            th:value="${sex.id}"
                                            th:text="${sex.name}">
                                </select>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" th:field="*{neutered}" id="neuteredCheckBox"/>
                                    <label class="form-check-label" for="neuteredCheckBox">Sterilizat(ă)</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <div class="col">
                                <label for="colorText">Culoare</label>
                                <input type="text" class="form-control" th:field="*{color}" id="colorText">
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <div class="col">
                                <label for="distinctiveMarksText">Semne distinctive</label>
                                <input type="text" class="form-control" th:field="*{distinctiveMarks}" id="distinctiveMarksText">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" type="sumbit">
                        Adaugă
                    </button>
                </div>
            </div>
        </div>
    </div>
    <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAnimalModal">
        Adaugă animal
    </button>
</div>
</body>
</html>